<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <logger name="org.springframework" level="INFO"/>

    <springProfile name="verbose">
        <logger name="org.springframework.transaction.interceptor" level="TRACE"/>
        <logger name="org.springframework.orm.jpa" level="TRACE"/>
        <logger name="io.roach" level="TRACE"/>
        <logger name="io.roach.SQL_TRACE" level="TRACE"/>
    </springProfile>

    <springProfile name="!verbose">
        <logger name="io.roach" level="INFO"/>
        <logger name="io.roach.SQL_TRACE" level="INFO"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

